.mo2-pop .tooltip-inner {
    max-width: none;
}

#mo2-settings-morale-filter-syntax-tooltip p {
    margin: 0;
    margin-bottom: .5em;
}

#poi-plugin-mo2.poi-plugin {
    display: flex;
    flex-direction: column;
}

#plugin-mountpoint > .poi-app-tabpane {
    display: flex;
    flex-direction: column;
}

#poi-plugin-mo2 #mo2-tabs > ul[role="tablist"],
#plugin-mountpoint #mo2-tabs > ul[role="tablist"] {
    display: flex;
    margin-bottom: .4em;
}

#plugin-mountpoint #mo2-tabs > ul[role="tablist"] > li {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#plugin-mountpoint #mo2-tabs > ul[role="tablist"] > li > a {
    margin: 0;
    text-align: center;
}

#poi-plugin-mo2 #mo2-tabs > .tab-content,
#plugin-mountpoint #mo2-tabs > .tab-content {
    flex: 1;
    height: 0;
}

#poi-plugin-mo2 #mo2-tabs #mo2-tabs-pane-ship.tab-pane.active,
#plugin-mountpoint #mo2-tabs #mo2-tabs-pane-ship.tab-pane.active {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#mo2-ship-control-bar > * {
    flex: 1;
    max-width: 300px;
    margin-right: 5px;
}
