.mo2-pop .tooltip-inner {
    max-width: none;
}

#mo2-settings-morale-filter-syntax-tooltip p {
    margin: 0;
    margin-bottom: .5em;
}

#poi-plugin-mo2.poi-plugin {
    display: flex;
    flex-direction: column;
}

#plugin-mountpoint > .poi-app-tabpane {
    display: flex;
    flex-direction: column;
}

#poi-plugin-mo2 #mo2-tabs > ul[role="tablist"],
#plugin-mountpoint #mo2-tabs > ul[role="tablist"] {
    display: flex;
    margin-bottom: .4em;
}

#plugin-mountpoint #mo2-tabs > ul[role="tablist"] > li {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#plugin-mountpoint #mo2-tabs > ul[role="tablist"] > li > a {
    margin: 0;
    text-align: center;
}

#poi-plugin-mo2 #mo2-tabs > .tab-content,
#plugin-mountpoint #mo2-tabs > .tab-content {
    flex: 1;
    height: 0;
}

#poi-plugin-mo2 #mo2-tabs #mo2-tabs-pane-ship.tab-pane.active,
#plugin-mountpoint #mo2-tabs #mo2-tabs-pane-ship.tab-pane.active {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#mo2-ship-control-bar > * {
    flex: 1;
    max-width: 300px;
    margin-right: 5px;
}

#mo2-tabs.dark .poi-ship-cond-0 {
    color: #dd514c;
}

#mo2-tabs.light .poi-ship-cond-0 {
    color: #22aeb3;
}

/* cond 20~29 */
#mo2-tabs.dark .poi-ship-cond-20 {
    color: #f37b1d;
}

#mo2-tabs.light .poi-ship-cond-20 {
    color: #0c84e2;
}

/* cond 30~39 */
#mo2-tabs.dark .poi-ship-cond-30 {
    color: #ffc880;
}

#mo2-tabs.light .poi-ship-cond-30 {
    color: #00377f;
}

/* cond 40~48 */
#mo2-tabs.dark .poi-ship-cond-40 {
    color: #fff;
}

#mo2-tabs.light .poi-ship-cond-40 {
    color: #000;
}

/* cond 49 */
#mo2-tabs.dark .poi-ship-cond-49 {
    color: #fff;
}

#mo2-tabs.light .poi-ship-cond-49 {
    color: #000;
}

/* cond 50~52 */
#mo2-tabs.dark .poi-ship-cond-50 {
    color: #fe0;
}

#mo2-tabs.light .poi-ship-cond-50 {
    color: #01f;
}

#mo2-tabs.dark .poi-ship-cond-53 {
    color: #ffff40;
}

#mo2-tabs.light .poi-ship-cond-53 {
    color: #0000bf;
}

#mo2-tabs-pane-fleet {
    overflow: auto;
    height: 100%;
}

#mo2-tabs > .tab-content {
    flex: 1;
}
